.cardBg {
  @apply max-w-[600px] xl:w-[900] m-auto min-h-[50rem] overflow-hidden rounded-xl relative flex justify-center items-center;

  .anime {
    @apply relative w-full h-full flex justify-center items-center border-transparent border-[.5rem] border-t-0 pt-0 rounded-full;

    .solidBg {
      @apply absolute min-h-[60rem] w-[60rem] rounded-xl rotate-[45deg] bg-[var(--dark-bg)];
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 1) 0%,
        darkblue 51%,
        rgba(0, 0, 0, 1) 100%
      );
    }
    .redSaber {
      @apply absolute h-[.5rem] w-[100rem] animate-spin-144 bg-[var(--clr-neon)] border border-red-500;
      background: var(--clr-neon);
      box-shadow: 1rem 1rem 5rem 1rem var(--clr-neon);
    }
    .goldSaber {
      @apply absolute h-[35rem] w-[62rem] animate-spin-34 bg-indigo-500 border-[.5rem] border-[var(--clr-neon)] border-dotted rounded-full;
      background: transparent;
      box-shadow: 1rem 1rem 5rem 1rem purple;
    }
    .glass {
      @apply bg-[var(--dark-bg)] z-40 w-full h-[50rem];
    }
  }

  .experienceCardWrapper {
    @apply md:w-[600px] xl:w-[900] p-[2rem] overflow-hidden relative rounded-xl border-y-[1rem] border-gray-800;
    position: absolute;
    width: calc(100% - 1rem);
    height: calc(100%);
    z-index: 32;
    margin: 0.5rem;

    .companyLogoContainer {
      .companyLogo {
        @apply w-[10rem] h-auto min-h-[10rem] rounded-full object-contain m-auto bg-black object-center cursor-pointer hover:shadow-lg hover:shadow-gray-600;
      }
    }

    .contentContainerUnderLogo {
      .jobTitle {
        @apply text-4xl font-light text-center mt-[2rem] text-gray-400;
      }

      .companyName {
        @apply font-bold text-2xl mt-[2rem] text-gray-400 cursor-pointer;
        width: max-content;
        border-bottom: solid var(--clr-neon);

        &:hover {
          @apply text-[var(--clr-neon)];
        }
      }

      .date {
        @apply uppercase py-5 text-gray-300 text-right my-[2rem];
        letter-spacing: 1.5px;
      }

      .expCardTechContainer {
        @apply techContainer;

        .expCardTechLogo {
          @apply techLogo;
        }
      }

      .techName {
        @apply mt-[2rem] text-white text-3xl text-center bg-gray-800 w-fit min-w-[.2rem] min-h-[4.5rem];
      }
      .showTech {
        @apply block p-[1rem];
      }

      .readButton {
        @apply border border-[var(--clr-neon)] p-[1rem] mt-[2rem] rounded-xl text-[var(--clr-neon)] cursor-pointer;
      }

      .experiencePointsContainer {
        @apply list-disc space-y-4 ml-5 text-lg;
      }
    }
  }
}
