.experienceCardWrapper {
  .companyLogoContainer {
    .companyLogo {
      @apply w-[10rem] h-auto min-h-[10rem] rounded-full object-contain m-auto bg-black object-center cursor-pointer hover:shadow-lg hover:shadow-[var(--clr-neon)];
    }
  }

  .contentContainerUnderLogo {
    .jobTitle {
      @apply text-4xl font-light text-center mt-[2rem] text-gray-400;
    }

    .companyName {
      @apply font-bold text-3xl mt-[2rem] text-gray-400 cursor-pointer;
      width: max-content;
      border-bottom: dashed var(--clr-neon);

      &:hover {
        @apply text-[var(--clr-neon)] duration-500;
        border-bottom: solid;
      }
    }
  }

  .expCardTechContainer {
    @apply flex gap-[2rem] mt-[4rem] flex-wrap;

    .expCardTechLogo {
      @apply w-[3.3rem] rounded-xl object-contain hover:border border-[var(--clr-neon)] cursor-zoom-in;
    }
  }

  .techName {
    @apply mt-[2rem] text-white text-3xl text-center bg-[var(--clr-neon)] w-fit min-w-[.2rem] min-h-[4.5rem];
  }
  .showTech {
    @apply block p-[1rem];
  }

  .readMoreAndDateContainer {
    @apply flex flex-col items-end mt-[1rem];

    .readButton {
      @apply border w-[20rem] border-gray-600 p-[1rem]  rounded-xl text-2xl text-[var(--clr-neon)] cursor-pointer;

      &:hover {
        @apply bg-[var(--clr-neon)] text-white duration-300;
      }
    }

    .date {
      @apply uppercase py-5 text-gray-300 w-[20rem] text-center;
      letter-spacing: 1.5px;
    }
  }
}
