.aboutWrapper {
  @apply max-w-[var(--max-w)] mx-auto flex flex-col justify-center items-center mt-[30rem] gap-[15rem] bg-[var(--dark-bg)] rounded-[15rem] py-[15rem];

  .mainTitle {
    @apply uppercase tracking-[2rem] text-gray-500 text-2xl p-[3rem];
  }

  .aboutImage {
    @apply max-w-[50rem] min-w-[30rem] mx-auto rounded-[50%];
  }

  .textContainer {
    @apply px-10 mx-auto w-full;

    .subtitle {
      @apply text-4xl text-gray-500 font-semibold mb-[7rem] text-center;

      .wordDecoration {
        @apply text-[var(--clr-neon)];
        text-shadow: 0 0 0.025em hsl(0, 0, 100/0.3), 0 0 0.5em currentColor;
      }
    }
    .textLinesContainer {
      @apply flex flex-wrap gap-5 items-center w-full;

      .textLine {
        @apply text-2xl my-3 text-left rounded-lg p-5 bg-[var(--darker)] bg-gray-800 text-gray-400 min-h-[10rem] flex items-center mx-auto;
        line-height: 3rem;
        letter-spacing: 1.25px;

        .bullet {
          background: #222;
          display: inline-block;
          border-radius: 5rem;
          padding: 0.3rem;
          margin-right: 1rem;
          color: var(--clr-neon);
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    .linesCount {
      @apply w-[50%] mx-auto p-3 text-gray-300 text-3xl text-center;
    }

    .linesActionButton {
      @apply flex justify-center gap-2;

      button {
        @apply bg-gray-500 p-7 w-[15rem] text-3xl rounded-lg hover:bg-[var(--clr-neon)] duration-500 hover:text-white hover:shadow-sm hover:shadow-gray-400;
      }
    }
  }
}
